.short-search-results {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
    row-gap: 15px;
    margin-top: 8px;

    .the-error {
        padding: 5px;
        width: fit-content;
    }

    .container {
        padding: 5px;
        cursor: pointer;
    }
}