.short-search-results {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
    row-gap: 15px;
    margin-top: 3%;

    .the-error {
        padding: 3%;
        width: fit-content;
    }

    .container {
        padding: 3%;
    }
}