.search-results {
    margin: 2%;

    .inner-card {
        padding: 2%;
        width: fit-content;
    }

    .headings {
        padding: 2%;
        margin: 5% 0;
        width: fit-content;
    }
}